@model TTDWeb.Models.ProductModel

@{
    Layout = null;
}
        <div class="productup">
            <div style="float: left; width: 350px;">
                <img alt="" src="@Model.OrganLogo" width="46" height="46" style="float:left; margin-right:20px;"/><span style="font-size: 18px; color: #5489d2">@Model.ProductName</span><br />
                <a class="agency" href="@Url.Action("OrganIndex", "Home", new { organid = @Model.OrganID })">@Model.OrganName</a></div>
            <div style="float: left; text-align: center; width: 180px;"><span style="font-size: 24px;">@Model.AnnualRateDisplay APR</span><br />
                年化利率</div>
            <div style="float: left; text-align: center; width: 260px;"><span style="font-size: 24px;">@Model.RepaymentMonthly 元/月</span><br />
                分期付款</div>
            <h1 class="look">展开详情</h1>

            <div class="container">

                <!--tabs start-->
                <div class="mytabs">
                    <ul class="tab_title">
                        <li class="one">产品详情</li>
                        <li>申请条件</li>
                        <li>所需材料</li>
                        <li>详细说明</li>
                        <li>产品经理</li>
                    </ul>
                    <div class="content">
                        <div class="ct" style="margin-left:10px; line-height:30px;">
<div><div style="width:190px; float:left;"><strong>金额：</strong>&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.money 万元</div><strong>额度范围：</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Model.MoneyBottom ～ @Model.MoneyTop 万元</div>
<div><div style="width:190px; float:left;"><strong>期限：</strong>&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.term 个月</div><strong>期限范围：</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Model.TermBottom ～ @Model.TermTop 个月</div>
<div><div style="width:190px; float:left;"><strong>月供：</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Model.RepaymentMonthly 元</div><strong>还款方式：</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Model.RepaymentTypeDisplay </div>
<div><div style="width:190px; float:left;"><strong>总费用：</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Model.TotalFeeDisplay 万元</div><strong>放款时间：</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Model.GetLoanDays 天 </div>
<div><div style="width:350px; float:left;"><strong>费用说明：</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Model.FeesDetail </div></div>
                </div>
                       <div class="ct" style="display: none">
                    @Html.Raw(@Model.ApplyCondition)
                </div>
                <div class="ct" style="display: none">
                   @Html.Raw(@Model.RequiredFile)
                </div>
                <div class="ct" style="display: none">
                    @Html.Raw(@Model.Memo)
                </div>
                <div class="ct" style="display: none">


                   <iframe src="@Url.Action("ProductCustomer", "Home", new { productcode = @Model.ProductCode })" scrolling="no" frameborder="0" width="600" height="200"></iframe>


                </div>
                    </div>
                </div>
                <!--tabs end-->
                <!--tabs end  AA10固定：0车贷，1房贷，2企业贷款，3消费贷款，4信用卡，5保险-->
        <div class="apply">
<br />
成功申请<span style="font-size:30px; color:#fbb03f;">1000</span>人
</div>
            </div>
            <!--container end-->
        </div>

        <div class="productdown">
    @for (int i = 0; i < Model.Chars.Length; i++)
    {
        if (Model.Chars[i].ToString() == "1")
        {
    <div style="float: left; margin-right: 30px;">
        <img src="../content/images/icon7.png" width="24" height="24" style="float: left;" />&nbsp;&nbsp;额度高                                                                                 
    </div> 
        }
        else if (Model.Chars[i].ToString() == "2")
        { 
        <div style="float: left; margin-right: 30px;">
        <img src="../content/images/icon1.png" width="24" height="24" style="float: left;" />&nbsp;&nbsp;放款快                                                                                 
    </div> 
        }
        else if (Model.Chars[i].ToString() == "3")
        { 
        <div style="float: left; margin-right: 30px;">
        <img src="../content/images/icon2.png" width="24" height="24" style="float: left;" />&nbsp;&nbsp;无需担保                                                                   
    </div> 
        }
        else if (Model.Chars[i].ToString() == "4")
        { 
        <div style="float: left; margin-right: 30px;">
        <img src="../content/images/icon8.png" width="24" height="24" style="float: left;" />&nbsp;&nbsp;利率低                                                                                
    </div> 
        }
        else if (Model.Chars[i].ToString() == "5")
        { 
        <div style="float: left; margin-right: 30px;">
        <img src="../content/images/icon4.png" width="24" height="24" style="float: left;" />&nbsp;&nbsp;上门服务                                                                                 
    </div> 
        }
    }
</div>
