@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>联系我们-天天贷</title>
    <link rel="stylesheet" type="text/css" href="~/content/css/css.css">
</head>
<body style="overflow-y: scroll;">
<div style="background-color:#587fb6; height:100px;">
<div style="width:100%; height:22px;">
        <div class="denglu" style="width: 950px;">客服热线：400-0000-000<a href="@Url.Action("Reg", "Account")" style="margin-right:10px; margin-left:35px;">注册</a>|<a href="@Url.Action("Login", "Account")" style="margin-left:10px;">信贷经理登录</a></div>
    </div>
    </div>
    <div class="bodycontent" style="margin-top:-70px; color: #282828;">
        <a href="@Url.Action("Index", "Home")"><img src="../content/images/logo.png" width="183" height="53" alt="" /></a>
        <div class="menu" style="float:right;">
<a id="type3" class="typeclick" href="@Url.Action("Productlist", "Home", new { type = 3, money = 10, term = 12 })" >消费贷款</a>
<a id="type1" class="typeclick" href="@Url.Action("Productlist", "Home", new { type = 1, money = 30, term = 36 })" >购房贷款</a>
<a id="type0" class="typeclick" href="@Url.Action("Productlist", "Home", new { type = 0, money = 15, term = 24 })" >购车贷款</a>
<a id="type2" class="typeclick" href="@Url.Action("Productlist", "Home", new { type = 2, money = 20, term = 12 })" >企业贷款</a>
</div>
        <div style="clear: both; height: 10px;"></div>

        <ul class="abt">
            <li><a href="@Url.Action("Aboutus", "Help")" >关于我们</a></li>
            <li><a href="@Url.Action("Contactus", "Help")" style="color:#5489d2;background-image:url(../content/images/abt_bg2.png);">联系我们</a></li>
            <li><a href="@Url.Action("Joinus", "Help")">加入我们</a></li>
            <li><a href="@Url.Action("Serverlist", "Help")">服务条款</a></li>
        </ul>
        <div style="clear: both;"></div>
        <div class="abthead" style="height:150px;">
地址：杭州市拱墅区湖墅北路77-3号<br />
邮编：310011<br />
电话：（0571）88312151<br />
传真：（0571）88312151<br />
<div style="float:right; text-align:right;">
<span style="font-size:24px;">客服电话 <span style="color:#5489d2;">4000-000-000</span></span><br />
工作日9：00-5：30
</div>
</div>


        <div class="footer" style="position: fixed; bottom: 0; width: 950px;">
            <a href="@Url.Action("Aboutus", "Help")">关于我们</a><a href="@Url.Action("Contactus", "Help")">联系我们</a><a href="@Url.Action("Joinus", "Help")">加入我们</a><a href="@Url.Action("Serverlist", "Help")">服务条款</a><br />
            ©2014 杭州天代宝投资管理有限公司 浙ICP备13008014号-1
        </div>


    </div>
    <!--body content-->


</body>
</html>
