@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>服务条款-天天贷</title>
    <link rel="stylesheet" type="text/css" href="~/content/css/css.css">
    <script type="text/javascript" src="~/content/js/jquery.min.js"></script>
<script src="~/content/js/scrolltop.js" type="text/javascript"></script>
</head>
<body style="overflow-y: scroll;">
<div style="background-color:#587fb6; height:100px;">
<div style="width:100%; height:22px;">
        <div class="denglu" style="width: 950px;">客服热线：400-0000-000<a href="@Url.Action("Reg", "Account")" style="margin-right:10px; margin-left:35px;">注册</a>|<a href="@Url.Action("Login", "Account")" style="margin-left:10px;">信贷经理登录</a></div>
    </div>
    </div>
    <div class="bodycontent" style="margin-top:-70px; color: #282828;">
         <a href="@Url.Action("Index", "Home")"><img src="../content/images/logo.png" width="183" height="53" alt="" /></a>
        <div style="clear: both; height: 10px;"></div>

        <ul class="abt">
            <li><a href="@Url.Action("Aboutus", "Help")" >关于我们</a></li>
            <li><a href="@Url.Action("Contactus", "Help")">联系我们</a></li>
            <li><a href="@Url.Action("Joinus", "Help")">加入我们</a></li>
            <li><a href="@Url.Action("Serverlist", "Help")" style="color:#5489d2;background-image:url(../content/images/abt_bg2.png);">服务条款</a></li>
        </ul>
        <div style="clear: both;"></div>
        <div class="abthead">
<p>您正在访问天天贷（<a href="www.ttdai.com">www.ttdai.com</a>），若要继续访问和使用天天贷，您必须不加修改地完全接受本网站的服务声明中所包含的各项条款、政策以及指南，并同意天天贷即时刊登的通告，并且遵守中国政府有关互联网的相关法律政策，以及遵守本网站制定的各项规定与规则。<br />
您一旦使用天天贷的服务，即视为您已了解并完全同意本服务条款各项内容，包括天天贷对服务条款随时做的任何修改。除非另有规定，否则任何变更或修改将在修订内容于天天贷发布之时立即生效，您对天天贷的使用将表明您接受此变更或修改。如您不同意本服务协议及/或随时对其的修改及/或法律声明，您可以停止访问天天贷并放弃选择天天贷提供的服务。
</p>
<p>
<span class="color">一、服务内容</span><br />
1.1天天贷的具体服务内容由我们根据实际情况提供，包括但不限于信息、图片、文章、评论、积分抽奖活动等，我们将定期或不定期根据用户的意愿以电子邮件、短信、电话的方式为用户提供活动信息，并向用户提供学习、交流平台（以上统称"服务"）。我们对提供的服务拥有最终解释权。<br />
1.2天天贷服务仅供个人用户使用。除我们书面同意，您或其他用户均不得将天天贷上的任何信息用于商业目的。 <br />
1.3您使用天天贷服务时所需的相关的设备以及网络资源等（如个人电脑及其他与接入互联网或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费）均由您自行负担。
</p>
<p>
<span class="color">二．信息提供与隐私政策</span><br />
2.1 天天贷上的内容，包括信贷产品的内容（包括但不限于金融单位名称、联系人、联系信息、产品的描述和说明、相关图片、相关贷款收费说明等）的信息均由用户在线提交或者用户授权天天贷工作人员提交发布，相关用户依法应对其提供的任何信息承担全部责任，天天贷对此等信息的准确性、完整性、合法性或真实性均不承担任何责任。此外，天天贷对任何使用或提供本网站信息的商业活动及其风险不承担任何责任。<br />
2.2 天天贷会根据实际情况随时调整天天贷平台提供的服务种类、形式。天天贷不承担因业务调整给用户造成的损失。天天贷保留变更、中断或终止部分网络服务的权利。<br />
2.3 用户在申请天天贷服务时，必须提供真实资料，如因注册信息不真实而引起的后果由会员自行承担，天天贷不承担任何责任。倘若天天贷发现用户注册信息虚假、不准确或不完整的，则有权自行决定是否终止该用户帐号。<br />
2.4 天天贷用户注册成功后，将被分配一个用户名及密码，该信息由用户自行负责保管，用户发布任何信息均属于个人意见，并不代表天天贷、天天贷运营商或天天贷关联公司的意见，用户应对以其用户帐号进行的所有活动和事件负法律责任。<br />
2.5  因黑客行为、计算机病毒侵入等自身原因致使天天贷帐号、密码被他人非法盗用、篡改导致损失的，天天贷不承担赔付责任。如您发现任何非法使用用户帐号或安全漏洞的情况，请立即与天天贷联系，一旦核实采纳，天天贷将给予一定的奖励。<br />
2.6 天天贷用户的访问IP和交易行为，有可能被天天贷的服务器予以跟踪用户，但这些措施仅仅只是出于安全的必要。如果天天贷没有发现任何安全问题，会及时删除收集到的IP地址。<br />
2.7 天天贷不会向任何第三方商业机构提供，出售，出租，分享和交易未被用户授权的个人信息，除非用户直接或间接同意与天天贷合作的机构产生联系和合作。<br />
2.8 除非政府或相关法律要求提供您的信息时，天天贷才会披露您的资料。包括但不限于下列情形：<br />
（1）事先获得用户的明确授权；<br />
（2）按照政府主管部门或相关法律的要求；<br />
（3）只有透露你的个人资料，才能提供你所要求的产品和服务； <br />
（4）以维护天天贷合法权益之目的；<br />
（5）维护社会公众利益；<br />
（6）符合其他合法要求；
</p>
<p>
<span class="color">三、使用准则</span><br />
3.1您在使用天天贷服务过程中，必须遵循国家的相关法律法规，不通过天天贷发布、复制、上传、散播、分发、存储、创建或以其它方式公开含有以下内容的信息： <br />
(1)反对宪法所确定的基本原则的； <br />
(2)危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的； <br />
(3)损害国家荣誉和利益的； <br />
(4)煽动民族仇恨、民族歧视，破坏民族团结的； <br />
(5)破坏国家宗教政策，宣扬邪教和封建迷信的； <br />
(6)散布谣言，扰乱社会秩序，破坏社会稳定的； <br />
(7)散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的、欺诈性的或以其它令人反感的讯息、数据、信息、文本、音乐、声音、照片、图形、代码或其它材料； <br />
(8)侮辱或者诽谤他人，侵害他人合法权益的； <br />
(9)其他违反宪法和法律、行政法规或规章制度的； <br />
(10)可能侵犯他人的专利、商标、商业秘密、版权或其它知识产权或专有权利的内容； <br />
(11)假冒任何人或实体或以其它方式歪曲您与任何人或实体之关联性的内容； <br />
(12)未经请求而擅自提供的促销信息、政治活动、广告或意见征集； <br />
(13)任何第三方的私人信息，包括但不限于地址、电话号码、电子邮件地址、身份证号以及信用卡卡号； <br />
(14)病毒、不可靠数据或其它有害的、破坏性的或危害性的文件； <br />
(15)与内容所在的互动区域的话题不相关的内容； <br />
(16)依我们的自行判断，足以令人反感的内容，或者限制或妨碍他人使用或享受互动区域或天天贷的内容，或者可能使我们或我们关联方或其他用户遭致任何类型损害或责任的内容； <br />
(17)包含法律或行政法规禁止内容的其他内容。 <br />
3.2用户不得利用天天贷的服务从事下列危害计算机信息网络安全的活动： <br />
(1)未经允许，进入计算机信息网络或者使用计算机信息网络资源； <br />
(2)未经允许，对计算机信息网络功能进行删除、修改或者增加； <br />
(3)未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加； <br />
(4)故意制作、传播计算机病毒等破坏性程序； <br />
(5)其他危害计算机信息网络安全的行为。 <br />
3.3我们保留在任何时候为任何理由而不经通知地过滤、移除、筛查或编辑本网站上发布或存储的任何内容的权利，您须自行负责备份和替换在本网站发布或存储的任何内容，成本和费用自理。 <br />
3.4您须对自己在使用天天贷服务过程中的行为承担法律责任。若您为限制行为能力或无行为能力者，则您的法定监护人应承担相应的法律责任。
3.5如您的操作影响系统总体稳定性或完整性，我们将暂停或终止您的操作，直到相关问题得到解决。<br />
</p>
<p>
<span class="color">四、免责声明</span><br />
4.1天天贷是一个开放平台，用户将文章或照片等个人资料上传到互联网上，有可能会被其他组织或个人复制、转载、擅改或做其它非法用途，用户必须充分意识此类风险的存在。作为网络服务的提供者，我们对用户在任何论坛、个人主页或其它互动区域提供的任何陈述、声明或内容均不承担责任。您明确同意使用天天贷服务所存在的风险或产生的一切后果将完全由您自身承担，我们对上述风险或后果不承担任何责任。 <br />
4.2您违反本服务条款、违反道德或法律的，侵犯他人权利（包括但不限于知识产权）的，我们不承担任何责任。同时，我们对任何第三方通过天天贷发送服务或包含在服务中的任何内容不承担责任。 <br />
4.3对您、其他用户或任何第三方发布、存储或上传的任何内容或由该等内容导致的任何损失或损害，我们不承担责任。 <br />
4.4对任何第三方通过天天贷可能对您造成的任何错误、中伤、诽谤、诬蔑、不作为、谬误、淫秽、色情或亵渎，我们不承担责任。 <br />
4.5对黑客行为、计算机病毒、或因您保管疏忽致使帐号、密码被他人非法使用、盗用、篡改的或丢失，或由于与本网站链接的其它网站所造成您个人资料的泄露，我们不承担责任。如您发现任何非法使用用户帐号或安全漏洞的情况，请立即与我们联系。 <br />
4.6因任何非天天贷原因造成的网络服务中断或其他缺陷，我们不承担任何责任。 <br />
4.7我们不保证服务一定能满足您的要求；不保证服务不会中断，也不保证服务的及时性、安全性、准确性。 <br />
4.8任何情况下，因使用天天贷而引起或与使用天天贷有关的而产生的由我们负担的责任总额，无论是基于合同、保证、侵权、产品责任、严格责任或其它理论，均不得超过您因访问或使用本网站而向天天贷支付的任何报酬（如果有的话）。<br />
4.9 天天贷不向任何用户提供如下保证：包括但不限于不保证服务一定能满足用户的要求，包括服务的连续性、及时性、安全性、准确性，也都不作保证。对于因不可抗力或任何非天天贷原因造成的网络服务中断或其他缺陷，天天贷不承担任何责任。 <br />
4.10 天天贷用户明确同意，其使用天天贷服务所存在的风险及产生的一切后果由其自己承担。 如发生下列任何一种情形，天天贷有权单方面中断或终止向用户提供服务而无需通知用户，无需对用户或第三方承担任何责任：<br />
4.11 天天贷有权随时修改服务条款的权利，用户在使用天天贷时，有必要对最新的天天贷服务条款进行仔细阅读和重新确认，当发生有关争议时，请以最新服务条款为准。<br />
</p>
<p>
<span class="color">五、特别约定</span><br />
5.1您使用本服务的行为若有任何违反国家法律法规或侵犯任何第三方的合法权益的情形时，我们有权直接删除该等违反规定之信息，并可以暂停或终止向您提供服务。 <br />
5.2若您利用天天贷服务从事任何违法或侵权行为，由您自行承担全部责任，因此给我们或任何第三方造成任何损失，您应负责全额赔偿，并使我们免受由此产生的任何损害。 <br />
5.3您同意我们通过重要页面的公告、通告、电子邮件以及常规信件的形式向您传送与天天贷服务有关的任何通知和通告。 <br />
5.4本服务条款之效力、解释、执行均适用中华人民共和国法律。 <br />
5.5如就本协议内容或其执行发生任何争议，应尽量友好协商解决；协商不成时，任何一方均可向杭州天代宝投资管理有限公司所在地的人民法院提起诉讼。 <br />
5.6本服务条款中的标题仅为方便而设，不影响对于条款本身的解释。本服务条款最终解释权归杭州天代宝投资管理有限公司所有。<br />
</div>


        <div class="footer">
            <a href="@Url.Action("Aboutus", "Help")">关于我们</a><a href="@Url.Action("Contactus", "Help")">联系我们</a><a href="@Url.Action("Joinus", "Help")">加入我们</a><a href="@Url.Action("Serverlist", "Help")">服务条款</a><br />
            ©2014 杭州天代宝投资管理有限公司 浙ICP备13008014号-1
        </div>


    </div>
    <!--body content-->
    <div class="go-top">
<a id="various3" href="productlist.html">
<div class="feedback"></div>
</a>
<div class="gotop"></div>
</div>

</body>
</html>
