@model TTDWeb.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录—天天贷</title>
    <link rel="stylesheet" type="text/css" href="~/content/css/css.css">
    <link rel="stylesheet" type="text/css" href="~/content/Site.css">
</head>
<body>
    <div style="background-color:#587fb6; height:100px;">
<div style="width:100%; height:22px;">
        <div class="denglu" style="width: 850px; color: #fff;">客服热线：400-0000-000</div>
    </div>
    </div>
    <div class="bodycontent" style="margin-top:-70px; color: #282828;">
        <a href="@Url.Action("Index", "Home")"><img src="../content/images/logo.png" width="183" height="53" alt="" /></a>
        <div class="menu" style="float:right; margin-right:50px;">
<a id="type3" class="typeclick" href="@Url.Action("Productlist", "Home", new { type = 3, money = 10, term = 12 })" >消费贷款</a>
<a id="type1" class="typeclick" href="@Url.Action("Productlist", "Home", new { type = 1, money = 30, term = 36 })" >购房贷款</a>
<a id="type0" class="typeclick" href="@Url.Action("Productlist", "Home", new { type = 0, money = 15, term = 24 })" >购车贷款</a>
<a id="type2" class="typeclick" href="@Url.Action("Productlist", "Home", new { type = 2, money = 20, term = 12 })" >企业贷款</a>
</div>
        <div style="clear: both; height: 40px;"></div>

        <div class="regbg">
            <div class="reghref"><a href="@Url.Action("Login", "Account")" style="border-bottom:3px solid #5489d2;">登录</a><a href="@Url.Action("Reg", "Account")">注册</a></div>


            <div class="register" style="margin-top:120px;">
                <form id="validator-form" method="post" action="/Account/Login">
                    <fieldset class="field-wrap">
                        <legend>login</legend>
                        <div class="field-item">
                            @Html.LabelFor(m => m.UserName, new { style="margin-top:5px;"})
                            @Html.TextBoxFor(m => m.UserName, new {placeholder="输入手机号码",@class="input-item",style="color: #ddd;"})
                        </div>
                        <div class="field-item">
                            @Html.LabelFor(m => m.Password, new { style="margin-top:5px;"})
                            @Html.PasswordFor(m => m.Password,new {placeholder="输入密码",@class="input-item"}) 
                        </div>
                        @Html.ValidationSummary()
                         <button type="submit" class="btn" style="width: 215px; height: 35px; font-size: 14px; margin-left: 110px; margin-top: 10px;">登录</button>
                         <div class="field-item" style="margin-left: 110px; position: relative; top: -10px;">
                             @Html.CheckBoxFor(m => m.RememberMe, new { data_theme="d",data_mini=true,@checked=true,style="position: relative; top: 8px; margin-right: 3px;"})
                             @Html.LabelFor(m => m.RememberMe)
                             <a style="color:#5a7caf; margin-left:33px;" href="#">忘记密码</a>
                         </div>
                    </fieldset>
                </form>


            </div>

           
        </div>






        <div class="footer">
            <a href="@Url.Action("Aboutus", "Help")">关于我们</a><a href="@Url.Action("Contactus", "Help")">联系我们</a><a href="@Url.Action("Joinus", "Help")">加入我们</a><a href="@Url.Action("Serverlist", "Help")">服务条款</a><br />
            ©2014 杭州天代宝投资管理有限公司 浙ICP备13008014号-1
        </div>

    </div>
    <!--body content-->






</body>
</html>
