@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户中心</title>
    <link rel="stylesheet" type="text/css" href="~/content/css/css.css" />
</head>
<body style="overflow-y:scroll;">
<div style="background-color:#587fb6; height:100px;">
<div style="width:100%; height:22px;">
        <div class="denglu" style="width: 950px;">客服热线：400-0000-000<a href="@Url.Action("Reg", "Account")" style="margin-right:10px; margin-left:35px;">注册</a>|<a href="@Url.Action("Login", "Account")" style="margin-left:10px;">信贷经理登录</a></div>
    </div>
    </div>
    <div class="bodycontent" style="margin-top:-70px; color: #282828;">
<a href="@Url.Action("Index", "Home")"><img src="../content/images/logo.png" width="183" height="53" alt="" /></a>
<div style="clear:both; height:10px;"></div>

<a href="@Url.Action("MyProducts", "Account")" style="color:#282828;"><div class="homehead">
<br />我的理财产品<br /><span style="font-size: 36px; color: #fbb03f;">20</span><span style="font-size:12px;">款</span>
</div></a>

<a href="@Url.Action("MyApplition", "Account")" style="color:#282828;"><div class="homehead">
<br />我收到的申请<br /><span style="font-size: 36px; color: #fbb03f;">20</span><span style="font-size:12px;">个</span>
</div></a>

<a href="@Url.Action("MyInfo", "Account")" style="color:#282828;"><div class="homehead" style="margin-right:0; width:302px; line-height:28px;background-color:#d7e2f1;">
<br />用户中心<br />
<span style="font-size:14px; color:#5489d2;">查看信息&gt;</span>
</div></a>

<div style="clear:both;"></div>

<div class="homeinf" style="border-bottom:none; height:30px;">
<div style="width:120px; text-align:right; float:left;"><strong>个人信息</strong></div>
<div class="homedit"><a href="@Url.Action("MyInfoEdit_Basic", "Account")">编辑</a></div>
</div>

<div class="homeinf" style="padding-bottom:20px; line-height:35px;">
<div class="infotitle">姓名</div><div class="infocontent">姓名</div>
<div class="infotitle">性别</div><div class="infocontent">性别</div>
<div class="infotitle">出生年月</div><div class="infocontent">出生年月</div>
<div class="infotitle">所在地</div><div class="infocontent">所在地</div>
<div class="infotitle">手机号码</div><div class="infocontent">手机号码</div>
<div class="infotitle">邮箱</div><div class="infocontent">邮箱</div>
<div class="infotitle">单位地址</div><div class="infocontent">单位地址</div>
<div class="infotitle">公司名称</div><div class="infocontent">公司名称</div>
<div class="infotitle">工作职位</div><div class="infocontent">工作职位</div>
<div class="infotitle">工作年限</div><div class="infocontent">工作年限</div>
<div class="infotitle">本行业工作年限</div><div class="infocontent">本行业工作年限</div>
</div>

<div style="clear:both; height:15px;"></div>

<div class="homeinf" style="border-bottom:none; height:30px;">
<div style="width:120px; text-align:right; float:left;"><strong>身份认证</strong></div>
    <span style="color:#5489d2; font-size:14px; margin-left:20px;">保存成功！系统会在3个工作日内完成认证。</span>
<div class="homedit"><a href="@Url.Action("MyInfoEdit_Identify", "Account")#identify">编辑</a></div>
</div>

<div class="homeinf" style="padding-bottom:20px; line-height:35px;">
<div class="infotitle"><img src="../content/images/phone.png" width="16" height="23" style=" position:relative; top:5px; margin-right:15px;"/>手机认证</div>已认证手机13606627137<br />
<div class="infotitle"><img src="../content/images/user.png" width="22" height="22" style=" position:relative; top:5px; left:3px; margin-right:15px;"/>身份认证</div>认证后可以进行充值并获取客户名单<a class="lj" href="#" style="margin-left:40px;">详细信息></a><br />
<div class="infotitle"><img src="../content/images/identify.png" width="23" height="17" style=" position:relative; top:4px; left:3px; margin-right:15px;"/>出生年月</div>认证后可以进行充值并获取客户名单<a class="lj" href="#" style="margin-left:40px;">详细信息></a>
</div>

<div class="footer"><a name="identify" id="identify"></a>
<a href="@Url.Action("Aboutus", "Help")">关于我们</a><a href="@Url.Action("Contactus", "Help")">联系我们</a><a href="@Url.Action("Joinus", "Help")">加入我们</a><a href="@Url.Action("Serverlist", "Help")">服务条款</a><br />
            ©2014 杭州天代宝投资管理有限公司 浙ICP备13008014号-1
</div>

</div><!--body content-->


</body>
</html>
