@model TTDWeb.Models.RegisterModel


@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>注册—天天贷</title>
    <link rel="stylesheet" type="text/css" href="~/content/css/css.css" />
    <script type="text/javascript" src="~/content/validator/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/content/validator/formValidator-4.1.1.js" type="text/javascript"></script>
    <script src="~/content/validator/formValidatorRegex.js" type="text/javascript"></script>
    <script src="~/content/validator/DateTimeMask.js" type="text/javascript"></script>
    <script src="~/content/validator/function.js" type="text/javascript"></script>
    <style type="text/css">
        body
        {
            color: #282828;
        }
    </style>

    <script type="text/javascript">
        $(function () {        
            $("#Province").change(function () {
                var selectedValue = $("#Province").val();
                $("#City").empty();
                $("#County").empty();
                $("#Organ").empty();
                $.getJSON("GetRegionDataJson", { level: "1", parentid: selectedValue }, function (data) {
                    $.each(data, function (i, item) {
                        $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo($("#City"));
                    });
                });
            })

            $("#City").change(function () {
                var selectedValue = $("#City").val();
                $("#County").empty();
                $("#Organ").empty();
                $.getJSON("GetRegionDataJson", { level: "2", parentid: selectedValue }, function (data) {
                    $.each(data, function (i, item) {
                        $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo($("#County"));
                    });
                });
            })

            $("#County").change(function () {
                var selectedValue = $("#County").val();
                $("#Organ").empty();
                $.getJSON("GetOrganDataJson", { regionid: selectedValue }, function (data) {
                    $.each(data, function (i, item) {
                        $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo($("#Organ"));
                    });
                });
            })
        })

    </script>
</head>
<body>
    <div style="background: url(../content/images/topbg.png) repeat; width: 100%; height: 22px;">
        <div class="denglu" style="width: 910px; color: #fff;">客服热线：400-0000-000</div>
    </div>

    <div class="bodycontent" style="padding-top: 11px; color: #282828; width: 910px;">
        <a href="@Url.Action("Index", "Home")"><img src="../content/images/logo.png" width="183" height="53" alt="" /></a>
        <div style="clear: both; height: 40px;"></div>

        <div class="regbg">
            <div class="reghref" ><a href="@Url.Action("Login", "Account")">登录</a><a href="@Url.Action("Reg", "Account")" style="border-bottom:3px solid #5489d2;">注册</a></div>


            <div class="register" >
                <form id="validator-form" method="post" action="/Account/Reg">
                    <fieldset class="field-wrap">
                        <legend>register</legend>
                        <div class="field-item">
                            <label for="CellPhone">手机</label><input id="CellPhone" name="CellPhone" type="text" class="input-item" value="" maxlength="11" /></div>
                        <div class="field-item">
                            <label for="CustomName">姓名</label><input id="CustomName" name="CustomName" class="input-item" type="text" value="" maxlength="20" /></div>
                        <div class="field-item" style="width:900px;">
                            <label for="Province">省份</label>@Html.DropDownList("Province",(SelectList)ViewBag.Province,new{@class="select-item"})
                             <label for="City" style="width:20px;">市</label>@Html.DropDownList("City",(SelectList)ViewBag.City,new{@class="select-item"})
                             <label for="County" style="width:20px;">县</label>@Html.DropDownList("County",(SelectList)ViewBag.County,null,new{@class="select-item"})
                        </div>
                        <div class="field-item">
                            <label for="Organ">机构</label>@Html.DropDownList("Organ",(SelectList)ViewBag.Organ,null,new{@class="select-item",style = "width:215px;",@id="Organ"})
                        </div>
                        <div class="field-item">
                            <label for="Pwd">密码</label><input id="Pwd" name="Pwd" class="input-item" type="password" maxlength="40" value="" onkeyup="pwStrength(this.value)" onblur="pwStrength(this.value)" /></div>
                        <div class="field-item">
                            <label for="ConfirmPassword">确认密码</label><input id="ConfirmPassword" class="input-item" name="ConfirmPassword" maxlength="20" type="password" value="" /></div>
                        <button type="submit" class="btn" style="width: 215px; height: 35px; font-size: 14px; margin-left: 110px; margin-top: 10px;">注册</button>
                    </fieldset>
                </form>


            </div>


        </div>






        <div class="footer">
            <a href="@Url.Action("Aboutus", "Help")">关于我们</a><a href="@Url.Action("Contactus", "Help")">联系我们</a><a href="@Url.Action("Joinus", "Help")">加入我们</a><a href="@Url.Action("Serverlist", "Help")">服务条款</a><br />
            ©2014 杭州天代宝投资管理有限公司 浙ICP备13008014号-1
        </div>

    </div>
    <!--body content-->






</body>
</html>
