@model TTDWeb.Models.FirmLoanStep1

@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Firmloan1</title>
        <link rel="stylesheet" type="text/css" href="~/content/css/css.css">
<style type="text/css">
    body
    {
        background-image: none;
        background-color: #FFF;
        color: #282828;
    }
</style>
</head>
<body>
<div style="width:650px; text-align:center; margin-top:30px; margin-bottom:30px;"><img src="../content/images/apply11.png" width="573" height="44" /></div>
@using (Html.BeginForm("Firmloan1", "Home", FormMethod.Post))
{
        <input type="hidden" value="@ViewBag.productcode" id="productcode" name="productcode" />
     <input type="hidden" value="@ViewBag.producttype" id="producttype" name="producttype" />
<div style=" background-color:#f7f7f7; padding-left:100px; padding-top:35px;height:600px;">
    <br /> <br />
<div class="inputtitle" style="margin-right:20px; width:130px;">您的公司类型：</div>
     @Html.DropDownList("FirmType",(SelectList)ViewBag.FirmType,new { @class="inputtext",style="width:256px; background:url(../content/images/select.png) 235px center no-repeat;"})   
    @Html.ValidationMessageFor(m => m.FirmType)
<br /><br />
<div class="inputtitle" style="margin-right:20px; width:130px;">公司月流水：</div>@Html.TextBoxFor(m=>m.FirmAccountBill,new { placeholder="如：1万元，输入10000",@class="inputtext",style="background:url(../content/images/yuan.png) 235px center no-repeat;"})<br /><br />
<div class="inputtitle" style="margin-right:20px; width:130px;">经营年限：</div>
    @Html.DropDownList("FirmAge",(SelectList)ViewBag.FirmAge,new { @class="inputtext",style="width:256px; background:url(../content/images/select.png) 235px center no-repeat;"})   
    @Html.ValidationMessageFor(m => m.FirmAge)
<br /><br />
<div class="inputtitle" style="margin-right:20px; width:130px;">是否有本地商品房：</div>@Html.RadioButtonFor(model => model.FirmProperty, 0, new {@name = "FirmProperty",style=" margin-top:10px;"})否&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(model => model.FirmProperty, 1, new {@name = "FirmProperty"})是<br /><br />
<div class="inputtitle">&nbsp;</div><button type="submit" class="btn" style="font-size:14px; height:35px; width:110px;">下一步</button>

</div>
}
</body>
</html>

