@model TTDWeb.Models.HomeLoanStep1


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homeloan1</title>
<link rel="stylesheet" type="text/css" href="~/content/css/css.css">
<style type="text/css">
body {
	background-image:none;
	background-color:#FFF;
	color:#282828;
}
</style>
</head>
<body>
<div style="width:650px; text-align:center; margin-top:30px; margin-bottom:30px;"><img src="../content/images/apply11.png" width="573" height="44" /></div>

@using (Html.BeginForm("Homeloan1", "Home", FormMethod.Post))
{

    <div style=" background-color:#f7f7f7; padding-left:100px; padding-top:35px;height:600px;">
     <input type="hidden" value="@ViewBag.productcode" id="productcode" name="productcode" />
     <input type="hidden" value="@ViewBag.producttype" id="producttype" name="producttype" />
        <br />
<div class="inputtitle" style="margin-right:20px; width:130px;">房屋类型：</div>
        @Html.DropDownList("HouseType",(SelectList)ViewBag.HouseType,new { @class="inputtext",style="width:256px; background:url(../content/images/select.png) 235px center no-repeat;"})   
    @Html.ValidationMessageFor(m => m.HouseType)
<br /><br />
<div class="inputtitle" style="margin-right:20px; width:130px;">每月工资收入：</div>@Html.TextBoxFor(m=>m.HouseIncome,new { placeholder="请输入数字，如：5000",@class="inputtext",style="background:url(../content/images/yuan.png) 235px center no-repeat;"})<br /><br />
<div class="inputtitle" style="margin-right:20px; width:130px;">户籍：</div>
        @Html.DropDownList("HouseLocalorNot",(SelectList)ViewBag.HouseLocalorNot,new { @class="inputtext",style="width:256px; background:url(../content/images/select.png) 235px center no-repeat;"})   
    @Html.ValidationMessageFor(m => m.HouseLocalorNot)
<br /><br />
<div class="inputtitle" style="margin-right:20px; width:130px;">是否二手房：</div>@Html.RadioButtonFor(model => model.HouseNew, 0, new {@name = "HouseNew",style=" margin-top:10px;"})新房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(model => model.HouseNew, 1, new {@name = "HouseNew",style=" margin-top:10px;"})二手房<br /><br />
<div class="inputtitle" style="margin-right:20px; width:130px;">&nbsp;</div><button type="submit" class="btn" style="font-size:14px; height:35px; width:110px;">下一步</button>
  

</div>
}


</body>
</html>

