@model  IEnumerable<TTDWeb.Models.ProductModel>

@{
    Layout = null;
    ViewBag.Title = "";
    if (ViewBag.type == "0")
    {
        ViewBag.Title = "购车贷款-天天贷";
    }
    else if (ViewBag.type == "1")
    {
        ViewBag.Title = "购房贷款-天天贷";
    }
    else if (ViewBag.type == "2")
    {
        ViewBag.Title = "企业贷款-天天贷";
    }
    else if (ViewBag.type == "3")
    {
        ViewBag.Title = "消费贷款-天天贷";
    }
        
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <script src="~/content/js/jquery1.3.2.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/content/css/css.css" />

    <script type="text/javascript">
        $(document).ready(function () {
            $(".productup h1").toggle(function () {
                $(this).html("收起详情");
                $(this).next(".container").animate({ height: 268, }, "slow");
            }, function () {
                $(this).html("展开详情");
                $(this).next(".container").animate({ height: 0 }, "slow");
            });
        });


    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            /*$('.ct:gt(0)').hide();*/
            var hdw = $('.tab_title li');
            hdw.click(function () {
                $(this).addClass('one').siblings().removeClass();
                var hdw_index = hdw.index(this);
                $('.ct').eq(hdw.index(this)).show().siblings().hide();
            });
        });
    </script>

    <script type="text/javascript" src="~/content/js/jquery.min.js"></script>
    <script>
        !window.jQuery && document.write('<script src="~/content/js/jquery-1.4.3.min.js"><\/script>');
    </script>
    <script type="text/javascript" src="~/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    <script type="text/javascript" src="~/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="~/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
    <script type="text/javascript">
        $(document).ready(function () {

            $("a.various3").fancybox({
                'width': 670,
                'height': 500,
                'autoScale': false,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'type': 'iframe',
                'overlayColor': '#000',
                'overlayOpacity': 0.7,
                'scrolling': 'no',
                'padding': 0,

            });

        });
    </script>

    <script src="~/content/js/scrolltop.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            var ss = @ViewBag.type
            $("#type" + ss).css({ "background": "url(../content/images/menu.png) bottom center no-repeat" }).siblings().css({ "background": "none" });


        });
    </script>
</head>
<body style="overflow-y:scroll;">
<div style="background-color:#587fb6; height:100px;">
<div style="width:100%; height:22px;">
        <div class="denglu" style="width: 950px;">客服热线：400-0000-000<a href="@Url.Action("Reg", "Account")" style="margin-right:10px; margin-left:35px;">注册</a>|<a href="@Url.Action("Login", "Account")" style="margin-left:10px;">信贷经理登录</a></div>
    </div>
    </div>
    <div class="bodycontent" style="margin-top:-70px; color: #282828;">
        <a href="@Url.Action("Index", "Home")"><img src="../content/images/logo.png" width="183" height="53" alt="" /></a>
<div class="menu" style="float:right;">
<a id="type3" class="typeclick" href="@Url.Action("Productlist", "Home", new { type = 3, money = 10, term = 12 })" >消费贷款</a>
<a id="type1" class="typeclick" href="@Url.Action("Productlist", "Home", new { type = 1, money = 30, term = 36 })" >购房贷款</a>
<a id="type0" class="typeclick" href="@Url.Action("Productlist", "Home", new { type = 0, money = 15, term = 24 })" >购车贷款</a>
<a id="type2" class="typeclick" href="@Url.Action("Productlist", "Home", new { type = 2, money = 20, term = 12 })" >企业贷款</a>
</div>
        <div style="clear: both; height: 20px;"></div>

        <div class="product">
            @using (Html.BeginForm("productlist", "Home", FormMethod.Get))
            {     
                <div style="width:710px; height:55px; border-right:1px solid #bdbdbd; float:left; padding-top:15px;">
                    <input type="hidden" value="@ViewBag.type" id="type" name="type" />
                    贷款金额:<input value="@ViewBag.money" class="sx" name="money" type="text" style="background: url(../content/images/money.png) 140px center no-repeat;" />贷款期限:<input class="sx" name="term" type="text" value="@ViewBag.term" style="background: url(../content/images/time.png) 155px center no-repeat;" />
                    <button type="submit" class="btn" style="width: 85px; height: 35px; font-size: 14px;">马上搜索</button>

                </div>
            }
            <div style="line-height: 35px; text-align: center;">
                共为您找到贷款产品<br />
                <span style="font-size: 36px; color: #fbb03f;">20</span>款
            </div>
        </div>

        <div style="padding: 15px; margin-top: 20px;">
            机构类型:<input class="sx" id="agency" name="" type="text" value="不限" readonly="readonly" style="background: url(../content/images/select.png) 160px center no-repeat; cursor: pointer;" />
            <ul class="agencytype" id="agencytype">
                <a href="productlist.html">
                    <li>不限</li>
                </a>
                <a href="productlist.html">
                    <li>银行</li>
                </a>
                <a href="productlist.html">
                    <li>小贷公司</li>
                </a>
                <a href="productlist.html">
                    <li>担保公司</li>
                </a>
                <a href="productlist.html">
                    <li>P2P网贷</li>
                </a>
            </ul>
            <div class="producthead"><a href="#" style="background: none; padding-right: 0px;">默认</a><a href="#">总利息</a><a href="#">月供</a></div>
        </div>
        @foreach (var item in Model)
        {
            Html.RenderPartial("_ProductItem", item);
        }






        <div class="pagenumber">
            <a class="number" href="@Url.Action("PreviewPage", new { pindex = @ViewBag.PageIndex, money = @ViewBag.money, type = @ViewBag.type, term = @ViewBag.term,term1=@ViewBag.term1 })">上一页</a>
            @for (int i = 1; i <= ViewBag.PageCount; i++)
            {
                if (i == ViewBag.PageIndex)
                { 
                <a class="numberclick" href="?pindex=@i.ToString()&money=@ViewBag.money&type=@ViewBag.type&term=@ViewBag.term&term1=@ViewBag.term1">@i.ToString()</a>
                }
                else
                {
                <a class="number" href="?pindex=@i.ToString()&money=@ViewBag.money&type=@ViewBag.type&term=@ViewBag.term&term1=@ViewBag.term1">@i.ToString()</a>
                }
            }
            <a class="number" href="@Url.Action("NextPage", new { pindex = @ViewBag.PageIndex, money = @ViewBag.money, type = @ViewBag.type, term = @ViewBag.term,term1=@ViewBag.term1 })">下一页</a>
        </div>

        <div class="footer">
            <a href="@Url.Action("Aboutus", "Help")">关于我们</a><a href="@Url.Action("Contactus", "Help")">联系我们</a><a href="@Url.Action("Joinus", "Help")">加入我们</a><a href="@Url.Action("Serverlist", "Help")">服务条款</a><br />
            ©2014 杭州天代宝投资管理有限公司 浙ICP备13008014号-1
        </div>

    </div>
    <!--body content-->



    <div class="go-top">
        <a class="various3" href="@Url.Action("Feedback", "Help")">
            <div class="feedback"></div>
        </a>
        <div class="gotop"></div>
    </div>

    <script type="text/javascript">
        var agency = document.getElementById("agency"), agencytype = document.getElementById("agencytype");
        agencytype.style.display = "none";
        agency.onmouseover = function () {

            agencytype.style.display = "";
            agency.style.background = "url(../content/images/select1.png) 160px center no-repeat";

        }
        agency.onmouseout = function () {

            agencytype.style.display = "none";
            agency.style.background = "url(../content/images/select.png) 160px center no-repeat";

        }
        agencytype.onmouseover = function () {

            agencytype.style.display = "";
            agency.style.background = "url(../content/images/select1.png) 160px center no-repeat";

        }
        agencytype.onmouseout = function () {

            agencytype.style.display = "none";
            agency.style.background = "url(../content/images/select.png) 160px center no-repeat";

        }
    </script>
</body>
</html>
